@page "/"
@page "/{RoomName}"

@inject IJSRuntime JS

<div class="gobang-box">
    <Gobang.Shared.Chessboard Chess="Chess" OnPlaying="Playing"></Gobang.Shared.Chessboard>
</div>
<div class="chess-info">
    <h1>五子棋⚫⚪</h1>
    @if (!IsInRoom)
    {
        <p><MudButton Variant="Variant.Outlined" Color="Color.Primary" @onclick="CreateRoom">创建房间</MudButton></p>
        <p><MudButton Variant="Variant.Outlined" Color="Color.Primary" @onclick="GetIntoRoom">加入房间</MudButton></p>
    }
    else
    {
        <p><MudButton Variant="Variant.Outlined" Color="Color.Primary" @onclick="StartGame">@(IsInGame ? "认输" : "开始游戏")</MudButton></p>
        if (IsReady)
        {
            <p><MudButton Variant="Variant.Outlined" Color="Color.Primary" @onclick="StartGame">@(IsInGame ? "认输" : "开始游戏")</MudButton></p>
        }
        else
        {
            <p><MudButton Variant="Variant.Outlined" Color="Color.Primary" @onclick="Invite">邀请朋友</MudButton></p>
        }
    }

    <div class="chess-msg">
        <p><b>@msgs</b></p>
        <span>（1）由房主选择谁执黑先行!⚫</span>
    </div>
</div>